.obrigatorio:after {
    content: " *";
    color: red;
}

.card-outline-inverse {
    border-color: #2f3d4a; 
}
.card-outline-inverse .card-header {
    background: #2f3d4a;
    border-color: #2f3d4a; 
}